extends layout

block content
  p
    | This little silly project converts any text into an animated gif
    | with a sparkle of magic on it, just in case you needed some.

  form(class="template" action="/", method="post")
    p
      textarea(name="template")
        | \
        |  \ji
        |  /.(((
        | (,/"(((__,--.
        |     \  ) _( /{
        |     !|| " :||
        |     !||   :||
        |     '''   '''

    p
      button(type="submit") Make it magical!

  h2 Credits And The Stack
  
  p
    | This project is built with <a href="http://nodejs.org">NodeJS</a> + <a href="http://jade-lang.com">Jade</a>
    
  p
    | I also used <a href="http://www.mongodb.org">MongoDB</a> and vanilla <a href="http://mafintosh.github.io/mongojs/">mongojs</a> for the persistence layer.
    
  p
    | And last but not least, I used <a href="http://madrabbit.github.io/pain.less.css/">pain.less.css</a> and 
    | <a href="http://paletton.com">the paletton</a> to do all the styling.
