extends layout

block content

  form(class="template" action="/", method="post")
    p
      textarea(name="template")
        | \
        |  \ji
        |  /.(((
        | (,/"(((__,--.
        |     \  ) _( /{
        |     !|| " :||
        |     !||   :||
        |     '''   '''

    p.buttons
      button(type="submit") Make it magical!
