doctype html
html
  head
    title Make It Magical
    link(rel="stylesheet", href="/application.css")

  body
    header
      .paddings
        a.logo(href="./") Make it Magical
        a.ribbon.danger(href="..", title="Fork Me On Github")

    main
      .paddings
        article
          block content

    footer
      .paddings
        p Copyright (C) 2014-2015 <a href="http://nikolay.theosom.com" target="_blank">Nikolay Nemshilov</a>
