doctype html
html
  head
    title Make It Magical
    link(rel="stylesheet", href="/application.css")
    - if (env == "development")
      script(src="http://localhost:35729/livereload.js")

  body
    header
      .paddings
        a.logo(href="./") Make it Magical
        a.ribbon.danger(href="..", title="Fork Me On Github")

    main
      .paddings
        article
          block content

    footer
      .paddings
        p Copyright (C) 2014-2015 Nikolay Nemshilov
