doctype html
html
  head
    title Make It Magical
    link(rel="stylesheet", href="/application.css")

  body
    h1 Here you go!

    p
      img(src="/p/"+picture.hash+".gif")
    p
      a(href="/") Again!
